@font-face{
    font-family: emirates;
    src: url(../emirate.ttf);
}
@font-face{
    font-family: uvn;
    src: url(../home/UVNMangTre.TTF);
}
@font-face{
    font-family: lingwai;
    src: url(../searchflight/LingWaiTC-Medium.ttf);
}
body,
html {
    height: 100%;
    font-family: emirates, 'Times New Roman', Times, serif;
}
h1{
    color: white;
    font-size: 50px;
}
h4{
    color:white;
}
p{
    color: white;
}

body {
    background-color: white;
    margin: 0;
    font-family: emirates, 'Times New Roman', Times, serif;
}
footer {
    text-align: center;
    padding: 1em;
    background-color: #333333;
    height:15.2rem;
}

footer:after {
    color: #d71a21;
    content: "Eiei Flight reservation";
    font-family: emirates,'Times New Roman', Times, serif;

}
.topnav {
    overflow: hidden;
    background-color: #333333;
    padding-left: 30px;
}

.topnav a {
    float: left;
    text-align: center;
    text-decoration: bold;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.topnav a.logo {
    position: absolute;
    z-index: 1;
    top: 0;
    padding: 0;
}

.topnav  img.right {
    float: right;
    text-align: center;
    width: 30px;
    height: 30px;
    position: flex;
    left: 90rem;
    filter: invert(100%);
}

.topnav img.ali{
    width: 20%;
    float: right;
    align-content: center;
    padding-top: 0.2rem;
    position: absolute;
    right: 3rem;
    
}

.topnav a:hover {
    background-color: #d71a21;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 10px;
}
.topnav a:hover.logo {
    font-size: 20px;
    padding: 0px;
}
.wallpaperbooking{
    background-image: url(image/bookingbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}
.wallpaperbooking h1{
    color: white;
    font-size: 65px;
    margin-left: 2.5rem;
    margin-bottom: 0rem;
}

.container{
    
    color: white;
    margin: 3rem;
    background-color: #d71a21;
    border-radius: 4px;
    /* border: 1px black solid; */
   
    
}
.row{
margin: 2rem;
padding-left:4rem;
padding-top: 1rem;;

}
.submit-btn{
    background-color: #d71a21;
    width: 200px;
    height: 50px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    margin-left: 170px;
}
.form-checkbox{
    padding-top: 1rem;
}
.form-group{
    padding: 0;
    margin: 0;
}