@font-face{
    font-family: emirates;
    src: url(font/emirate.ttf);
}
@font-face{
    font-family: uvn;
    src: url(font/UVNMangTre.TTF);
}
@font-face{
    font-family: lingwai;
    src: url(font/LingWaiTC-Medium.ttf);
}
body,
html {
    height: 100%;
    font-family: emirates, 'Times New Roman', Times, serif;
}
h2{
    color: white;
    font-size: 50px;
    
}
h5{
    color:white;
    position: relative;
    
}
p{
    color: white;
}

body {
    background-color: white;
    margin: 0;
    font-family: emirates, 'Times New Roman', Times, serif;
}
footer {
    text-align: center;
    padding: 1.1em;
    background-color: #d71a21;
}

footer:after {
    color: white;
    content: "Eiei Flight reservation";
    font-family: emirates,'Times New Roman', Times, serif;

}
.topnav {
    overflow: hidden;
    background-color: #333333;
    padding-left: 30px;
}

.topnav a {
    float: left;
    text-align: center;
    text-decoration: bold;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.topnav a.logo {
    position: absolute;
    z-index: 1;
    top: 0;
    padding: 0;
}

.topnav  img.right {
    float: right;
    text-align: center;
    width: 30px;
    height: 30px;
    position: flex;
    left: 90rem;
    filter: invert(100%);
}

.topnav img.ali{
    width: 20%;
    float: right;
    align-content: center;
    padding-top: 0.2rem;
    position: absolute;
    right: 3rem;
    
}

.topnav a:hover {
    background-color: #d71a21;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 10px;
}
.topnav a:hover.logo {
    font-size: 20px;
    padding: 0px;
}
.wallpaper {
    background-image: url(image/241716-a-view-on-the-gap-between-the-rows-of-airplane-sea.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}
.container{
    background-color: white;
    border-radius: 4px;
    position: relative;
    bottom: 4rem;
}
.row{
    margin: 2rem;
    padding-left:4rem;
    padding-top: 1rem;
}
.login-but a{
    color: #d71a21;
}
.login-but a:hover{
    color: #333333;
}
.retrieve-btn{
    width: 200px;
    height: 50px;
    color: white;
    background-color: #d71a21;
    border: 1px solid white;
    border-radius: 4px;
    position: relative;
    
}
.form-control input{
    position: relative;
    bottom: 10rem;
}